<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>Demo_Servlet</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!--ex01:测试servlet生命周期 -->
	<servlet>
		<servlet-name>ex01_Servlet1</servlet-name>
		<servlet-class>ex01_LifeCycle.TestServlet1</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ex01_Servlet1</servlet-name>
		<url-pattern>/ex01/Test01</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ex01_Servlet2</servlet-name>
		<servlet-class>ex01_LifeCycle.TestServlet2</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ex01_Servlet2</servlet-name>
		<url-pattern>/ex01/Test02</url-pattern>
	</servlet-mapping>

	<!--ex02: 测试获取表单数据 -->
	<servlet>
		<servlet-name>ex02_RegServlet</servlet-name>
		<servlet-class>ex02_GetForm.servlet.RegServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ex02_RegServlet</servlet-name>
		<url-pattern>/ex02/RegServlet</url-pattern>
	</servlet-mapping>


	<!--ex03:测试路径跳转 -->
	<servlet>
		<servlet-name>ex03_HelloServlet</servlet-name>
		<servlet-class>ex03_path.HelloServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ex03_TestServlet</servlet-name>
		<servlet-class>ex03_path.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ex03_HelloServlet</servlet-name>
		<!-- url-pattern处必须以/开头，这里的/表示项目的根目录 -->
		<url-pattern>/ex003/HelloServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ex03_TestServlet</servlet-name>
		<url-pattern>/ex003/TestServlet</url-pattern>
	</servlet-mapping>


	<!--ex04:购物车案例 -->
	<servlet>
		<servlet-name>CartServlet</servlet-name>
		<servlet-class>ex04_mvc.servlet.CartServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CartServlet</servlet-name>
		<url-pattern>/ex04/CartServlet</url-pattern>
	</servlet-mapping>

	<!--ex05: filter -->
	<!-- Filter #1 -->
	<filter>
		<filter-name>FirstFilter</filter-name>
		<filter-class>ex05_FilterChain.FirstFilter</filter-class>
	</filter>

	<!--过滤器链：一个url匹配多个filter -->
	<filter-mapping>
		<filter-name>FirstFilter</filter-name>
		<url-pattern>/ex05/index.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<!-- 多个url也可以共用一个filter -->
	<filter-mapping>
		<filter-name>FirstFilter</filter-name>
		<url-pattern>/ex05/main.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<!-- Filter #2 -->
	<filter>
		<filter-name>SecondFilter</filter-name>
		<filter-class>ex05_FilterChain.SecondFilter</filter-class>
	</filter>
	<!--过滤器链：一个url匹配多个filter -->
	<filter-mapping>
		<filter-name>SecondFilter</filter-name>
		<url-pattern>/ex05/index.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<!-- 不同类型的Filter -->
	<filter>
		<filter-name>ErrorFilter</filter-name>
		<filter-class>ex05_FilterChain.ErrorFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ErrorFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/ex05/error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/ex05/error500.jsp</location>
	</error-page>

	<!--ex06: Asyn filter -->
	<servlet>
		<servlet-name>AsynServlet</servlet-name>
		<servlet-class>ex06_FilterAsyn.AsynServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>AsynServlet</servlet-name>
		<url-pattern>/ex06/AsynServlet</url-pattern>
	</servlet-mapping>


	<!--ex07: Login demo -->
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>ex07_FilterForLogin.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/ex07/LoginServlet</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>ex07_FilterForLogin.LoginFilter</filter-class>
		<init-param>
			<param-name>noLoginPaths</param-name>
			<param-value>login.jsp;fail.jsp;LoginServlet;ex</param-value>
		</init-param>
		<init-param>
			<param-name>charset</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!--ex08: listener base -->
	<context-param>
		<param-name>initParam</param-name>
		<param-value>ex08_listener</param-value>
	</context-param>
	<listener>
		<listener-class>ex08_ListenerBase.MyHttpSessionAttributeListener</listener-class>
	</listener>
	<listener>
		<listener-class>ex08_ListenerBase.MyHttpSessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>ex08_ListenerBase.MyServletContextAttributeListener</listener-class>
	</listener>
	<listener>
		<listener-class>ex08_ListenerBase.MyServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>ex08_ListenerBase.MyServletRequestAttributeListener</listener-class>
	</listener>
		<listener>
		<listener-class>ex08_ListenerBase.MyServletRequestListener</listener-class>
	</listener>
	<session-config>
		<session-timeout>0</session-timeout>
	</session-config>

</web-app>